<h1>Home Page</h1>
<a href ='/users'> Back Home </a>
 <ul>
<% @hotels.each do |hotel| %>
    <td> <%= hotel.name %> <a href=showRooms/<%= hotel.id %>/chooseDate>book a room</a></td>
<% end %>
</ul>
<br />
